<section class="w-screen h-screen flex justify-center items-center bg-gray-2/30">
  <div class="overflow-y-auto backdrop:min-h-[60%] min-w-[30%] max-h-[90vh] bg-snow-3 p-12">
    <h1 class="font-bold">{{modalName}}</h1>
    <div>{{> @partial-block }}</div>
  </div>
</section>