<script src="../../public/js/modal.js"></script>

<section id="modal" class="w-screen h-screen flex justify-center items-center bg-gray-2/30">
  <div class="min-h-[60%] min-w-[30%] bg-snow-3 p-12">
    <h1 class="font-bold">{{modalName}}</h1>
    <div>{{> @partial-block }}</div>
  </div>
</section>