<section id="modal" class="w-screen h-screen flex justify-center items-center bg-gray-2/30">
  <div class="h-9/12 w-1/2 bg-snow-3">
    <h1>{{modalName}}</h1>
    <div>{{> @partial-block }}</div>
  </div>
</section>