{{!-- module.handlebars is the layout for each module. We will use @partial-block in order to variably render HTML within this partial.
      Note: In general, you should not need to edit this file.
 --}}

<section class="h-[40vh] mt-8 flex flex-col space-y-4">
  <h2 class="flex module-bar">{{moduleName}}</h2>
  <div class="flex h-full space-x-4">{{> @partial-block }}</div>
</section>