<header
  class="fixed h-screen w-nav py-[4vh] flex flex-col items-center space-y-[4vh] bg-snow-3 border-r-[1px] border-snow-1 z-10"
>
  <a href="/">
    <img src="../../public/assets/images/Logo-Light.svg" alt="logo" />
  </a>

  <a href="/signup" class="hover:text-frost transition-all">
    <i class="fa-solid fa-circle-user text-[4vh]"></i>
  </a>
</header>