
{{#> module moduleName="Blood Sugar Tracker"}}

   {{#> panels/panel-2}}
    <h2>Blood Sugar Tracker</h2>
    <form id = "sugarTrackerForm"  action = '/modules/sugar' method="POST">
      <label>
       Sugar Reading
        <input name="sugarInput" type="number">
      </label>
      <label>
        Fasting status
        <input name="fastingInput" type="checkbox" value="true">
      </label>
      <button type="submit">Submit</button>
    </form>
    <h3>Your last blood sugar entry: 5</h3>
  {{/panels/panel-2}}



{{/module}} 

