
{{#> module moduleName="Blood Sugar Tracker"}}

   {{#> panels/panel-2}}
    <h2>Blood Sugar Tracker</h2>
    <form id = "sugarTrackerForm">
      <label>
       Sugar Reading
        <input name="sugarInput" type="text">
      </label>
      <label>
        Fasting status
        <input name="fastingInput" type="checkbox">
      </label>
      <button type="submit">Submit</button>
    </form>
  {{/panels/panel-2}}



{{/module}} 

