<script
  src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
<script type="module" src="../public/js/modules/notepad.js"></script>

{{#> module moduleName="NotePad"}}
  {{#> panels/panel-1}}
  <div class="flex justify-between">
      <h2 class="w-fit">Notes</h2>
      <button id="addNoteBtn" class="text-xl hover:text-snow-1 transition-colors"><i class="fa-solid fa-plus"></i></button>
  </div>
  <div id="saved-notes">
    {{#each allNotes}}
      <button id="selectNote?{{this._id}}" class="note-select-button w-full rounded-md border border-snow-1 p-2 text-left hover:bg-polar transition-colors">
        <p class="font-semibold">{{this.title}}</p> <p>{{this.date}}</p>
      </button>
    {{/each}}
  </div>
  {{/panels/panel-1}}
{{/module}}

{{!-- Edit Note Modal --}}
<div id="noteModal" class="fixed top-0 left-nav" hidden>
  {{#> modal modalName="Your Note"}} 
    <form id="noteForm" class="flex flex-col space-y-4 text-lg" action="/modules/notes" method="POST">
      <label>
        Title
        <input name="noteTitle" type="text">
      </label>

      <label>
        Text
        <textarea name="noteText"></textarea>
      </label>

      <div class="errorContainer">
        {{#each error}}
          <p class="error">
            {{this}}
          </p>
        {{/each}}
      </div>

      <div class="noteFormBtns !mt-[5vh] space-x-4">
        <button
          type="submit"
          class="w-fit px-6 py-2 text-snow-3 hover:text-snow-1 underline bg-frost rounded-std"
        >
          Save
        </button>
        <button
          id="noteFormCancelBtn"
          type="button"
          class="w-fit text-gray-2 hover:text-gray-1 underline">
          Cancel
        </button>
      </div>
    </form>
  {{/modal}}
</div>