
{{#> module moduleName="Body Weight Tracker"}}

    {{#> panels/panel-1}}
        <div class="flex justify-between">
        <h2 class="w-fit">Body Weight Tracker</h2>
        <button id="editWorkoutsBtn" class="text-xl hover:text-snow-1 transition-colors"><i class="fa-solid fa-plus"></i></button>
        </div>
        <button class="w-full rounded-md border border-snow-1 p-2 text-left hover:bg-polar transition-colors">Something</button>
  {{/panels/panel-1}}

    {{#> panels/panel-2}}
    <h2>Module 2</h2>
    <p>Module 2 content</p>
  {{/panels/panel-2}}


{{/module}} 

