<script type="module" src="../../../public/js/modules/workoutTracker.js"></script>

{{#> module moduleName="Workout Tracker"}}
  {{#> panels/panel-1}}
    <div class="flex justify-between">
      <h2 class="w-fit">Your Workouts</h2>
      <button id="editWorkoutsBtn" class="text-xl hover:text-snow-1 transition-colors"><i class="fa-solid fa-plus"></i></button>
    </div>
    <button class="w-full rounded-md border border-snow-1 p-2 text-left hover:bg-polar transition-colors">Something</button>
  {{/panels/panel-1}}

  {{#> panels/panel-2}}
    <h2>Module 2</h2>
    <p>Module 2 content</p>
  {{/panels/panel-2}}
{{/module}}

{{!-- Edit Workouts Modal --}}
<div id="editWorkoutsModal" class="fixed top-0 left-nav" hidden>
  {{#> modal modalName="Edit Workouts"}} 
    <form id="editWorkoutsForm" class="flex flex-col space-y-4 text-lg" action="/modules/workouts" method="POST">
      <label>
        Workout Name
        <input name="workoutName" type="text">
      </label>

      <label>
        Weekday
        <select name="workoutDay">
          <option value="Sunday">Sunday</option>
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
          <option value="Saturday">Saturday</option>
        </select>
      </label>

      <div id="addExerciseContainer" class="space-y-4">
        <button id="addExerciseBtn" type="button" class="w-fit text-gray-2 hover:text-gray-1 space-x-4">
          <i class="text-xl fa-solid fa-circle-plus"></i><span>Add Exercise</span>
        </button>
      </div>

      <div class="errorContainer">
        {{#each error}}
          <p class="error">
            {{this}}
          </p>
        {{/each}}
      </div>

      <div class="editWorkoutsBtns!mt-[5vh] space-x-4">
        <button
          type="submit"
          class="w-fit px-6 py-2 text-snow-3 hover:text-snow-1 underline bg-frost rounded-std"
        >
          Save
        </button>
        <button
          id="editWorkoutsCancelBtn"
          type="button"
          class="w-fit text-gray-2 hover:text-gray-1 underline"
        >
          Cancel
        </button>
      </div>
    </form>
  {{/modal}}
</div>