<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
></script>
<script type="module" src="../../../public/js/modules/workoutTracker.js"></script>

{{#> module moduleName="Workout Tracker"}}
  {{#> panels/panel-1}}
    <div class="flex justify-between">
      <h2 class="w-fit">Your Workouts</h2>
      <button id="addWorkoutsBtn" class="text-xl hover:text-snow-1 transition-colors"><i class="fa-solid fa-plus"></i></button>
    </div>
    {{#each allWorkouts}}
      <button id="selectWorkout?{{this._id}}" class="[&>span]:pointer-events-none w-full flex justify-between rounded-md border border-snow-1 text-white p-2 text-left hover:bg-polar transition-colors">
        <span>{{this.workoutName}}</span><span>{{this.workoutDay}}</span>
      </button>
    {{/each}}
  {{/panels/panel-1}}

  {{#> panels/panel-2}}
    <div class="flex justify-between">
      <h2 class="w-fit">
        Exercises
      </h2>
      <button
        id="editWorkoutsBtn"
        class="text-xl hover:text-snow-1 transition-colors"
        hidden
      >
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
    <div id="exercisesContainer" class="space-y-4">
      <p>Select a workout to view.</p>
    </div>
  {{/panels/panel-2}}
{{/module}}

{{!-- Edit Workouts Modal --}}
<div id="workoutsModal" class="fixed top-0 left-nav" hidden>
  {{#> modal modalName="Edit Workouts"}} 
    <form id="workoutsForm" class="flex flex-col space-y-4 text-lg" action="/modules/workouts" method="POST">
      <label>
        Workout Name
        <input name="workoutName" type="text">
      </label>

      <label>
        Weekday
        <select name="workoutDay">
          <option value="Sunday">Sunday</option>
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
          <option value="Saturday">Saturday</option>
        </select>
      </label>

      <div id="addExerciseContainer" class="space-y-4">
        <button id="addExerciseBtn" type="button" class="w-fit text-gray-2 hover:text-gray-1 space-x-4">
          <i class="text-xl fa-solid fa-circle-plus"></i><span>Add Exercise</span>
        </button>
      </div>

      <div class="errorContainer">
        {{#each error}}
          <p class="error">
            {{this}}
          </p>
        {{/each}}
      </div>

      <label id="delete-workout-option" hidden>
        Delete
        <input name="deleteWorkout" type="checkbox">
        {{!-- add a default value --}}
      </label>

      <div id="workoutsFormBtns" class="workoutsFormBtns !mt-[5vh] space-x-4">
        <button
          type="submit"
          class="w-fit px-6 py-2 text-snow-3 hover:text-snow-1 underline bg-frost rounded-std"
        >
          Save
        </button>
        <button
          id="workoutsFormCancelBtn"
          type="button"
          class="w-fit text-gray-2 hover:text-gray-1 underline"
        >
          Cancel
        </button>
      </div>
    </form>
  {{/modal}}
</div>