{{#> module moduleName="Workout Tracker"}}
  {{#> panels/panel-1}}
    <h2>Arm Day</h2>
    <button>Something</button>
  {{/panels/panel-1}}

  {{#> panels/panel-2}}
    <h2>Module 2</h2>
    <p>Module 2 content</p>
  {{/panels/panel-2}}
{{/module}}