<!DOCTYPE html>
<html>

<head>
  <title>Mode Fitness | {{title}}</title>
  <link href="/public/css/main.css" rel="stylesheet">
  {{!-- Logo --}}
  <link rel="icon" href="/public/assets/images/Logo.png" type="image/png" sizes="16x16">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  {{{body}}}
</body>

</html>