<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link href="/dist/output.css" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  {{{body}}}
</body>

</html>