<!DOCTYPE html>
<html>

<head>
  <title>Mode Fitness | {{title}}</title>
  {{!-- TailwindCSS --}}
  <link href="/public/css/build.css" rel="stylesheet">
  
  {{!-- Logo --}}
  <link rel="icon" href="/public/assets/images/Logo.png" type="image/png" sizes="16x16">
  
  {{!-- Font Awesome --}}
  <script src="https://kit.fontawesome.com/403ffa82c4.js" crossorigin="anonymous"></script>
</head>

<body>
  {{!-- Navbar --}}
  {{> nav}}

  {{!-- Body --}}
  <main class="ml-nav py-10 px-20">
    {{{body}}}
  </main>
</body>

</html>