<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.6/index.global.min.js"></script>

<script type="module" src="../public/js/modules/fullCalendar.js"></script>

<section>
  <div id="calendar?{{calendar.id}}"></div>
</section>

{{!-- Add Event Modal --}}
<div id="eventsModal" class="fixed top-0 left-nav" hidden>
  
</div>