<script type="module" src="../public/js/modules/fullCalendar.js"></script>
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.6/index.global.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.6/index.global.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@6.1.6/index.global.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@6.1.6/index.global.min.js'></script>

<section>
  <div id="calendar?{{calendar.id}}"></div>
</section>