<section>
  <h1>
    Calendar
  </h1>
  {{#if calendars}}
    <ul>
      {{#each calendars}}
        <li>
          <a href="/calendar/{{id}}">
            {{name}}
          </a>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>
      No calendars found.
    </p>
  {{/if}}
</section>