<script
  src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
></script>
<script
  type="module"
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.1.1/chart.umd.js"
></script>
{{! <script type="module" src="../public/js/sugarGraph.js"></script> }}
{{!-- <script type="module" src="../public/js/weightGraph.js"></script> --}}
<script type="module" src="../public/js/cardioGraph.js"></script>
<section class="px-12 py-8">
  <h1>Dashboard</h1>
  <p>{{user.fullName}}</p>

  <canvas id="charts"></canvas>
</section>