<section>
  <h1 class="text-3xl text-red-100">Landing</h1>
  {{#each posts}}
  <article class="post">
    <h2><a href="/posts/{{_id}}">{{title}}</a></h2>
    <p>{{body}}</p>
  </article>
  {{/each}}
</section>