<h1>Mode fitness</h1>
<button onclick="location.assign('/signup')", id = 'signupButton'>
  sign-up
</button>

<button onclick="location.assign('/login')", id = 'loginButton'>
  log-in
</button>

<p id = 'intro'>
    Health-conscious individuals often have different interests, needs, and goals regarding their fitness journey. 
    Some may require strict nutritional monitoring, others may wish to track their strength gains during workouts, 
    and still others may need to keep tabs on their blood sugar levels. While many applications can provide some of
    these services, it can be difficult to aggregate everything that someone would need with regard to fitness in a single place.
    Mode Fitness seeks to address this problem by creating a fully modular fitness website. 
    This will allow users to create and manage their very own fitness dashboard, designed according to their specific needs.
</p>