<section>
  {{#if success}}
    <p class="success">{{success}}</p>
  {{/if}}

  <form action="/login" method="POST" id = "login-form">
    <label>
      <input id = "userNameInput" name="username" type="text" placeholder="Username" />
    </label>

    <label>
      <input id = "passwordInput" name="password" type="password" placeholder="Password" />
    </label>
    <input type="submit" />
  </form>

  {{#if error}}
    <p class="error">{{error}}</p>
  {{/if}}
</section>