<section>
  <h1>Hello, <span class="font-bold">{{user.fullName}}</span></h1>
  <p>Welcome to your modules!</p>

  {{#> module moduleName="Timer"}}
    {{#> panels/panel-1}}
      <h2>Timers</h2>
      <button>Meditation</button>
    {{/panels/panel-1}}

    {{#> panels/panel-2}}
      <h2>Module 2</h2>
      <p>Module 2 content</p>
    {{/panels/panel-2}}
  {{/module}}
</section>