<section>
  <form action="/signup" method="POST" id = "registration-form">
    <label>
      <input 
      name="name" 
      type="text" 
      value="{{name}}"
       placeholder="Full Name" />
    </label>

    <label>
      <input
        id = "usernameInput"
        name="username"
        type="text"
        value="{{username}}"
        placeholder="Username"
      />
    </label>
    <label>
      <input
      id = "emailInput"
      name = "email"
      type = "email"
      value="{{email}}"
      placeholder= "email"
      />
    </label>
    <label>
      <input 
      name="password" 
      type="password" 
      placeholder="Password"  
      id="passwordInput"/>
    </label>

    <label>
      <input
        id = "retypePasswordInput"
        name="retypePassword"
        type="password"
        placeholder="Retype Password"
      />
    </label>
  <label> 
    Date of Birth
    <input 
    id = "DOBinput" 
    name = "DOB" 
    type = "date"  /> 
  </label>
    <input type="submit" />
  </form>
  

  <div>Signed up already? <a href="/login">Login here</a></div>

  {{#if error}}
    <p class="error">{{error}}</p>
  {{/if}}
</section>