<section>
  <form action="/signup" method="POST">
    <label>
      <input name="name" type="text" value="{{name}}" placeholder="Name" />
    </label>

    <label>
      <input
        name="username"
        type="text"
        value="{{username}}"
        placeholder="Username"
      />
    </label>

    <label>
      <input name="password" type="password" placeholder="Password" />
    </label>

    <label>
      <input
        name="retypePassword"
        type="password"
        placeholder="Retype Password"
      />
    </label>

    <input type="submit" />
  </form>

  <div>Signed up already? <a href="/login">Login here</a></div>

  {{#if error}}
    <p class="error">{{error}}</p>
  {{/if}}
</section>