/*
 * Fonts
 */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/*
 * TailwindCSS
 */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  /* Modular Title Bar */
  .module-bar::before {
    display: inline-block;
    content: "";
    background-color: var(--gray-2);
    width: 10px;
    margin-right: 10px;
  }

  /* Standard rounded border */
  .rounded-std {
    border: 0;
    border-radius: 20px;
  }

  /* Nav Icons */
  .icons-clickable {
    @apply cursor-pointer text-[4vh] text-gray-2 hover:text-frost transition-all;
  }

  /* User Form */
  .userContainer {
    @apply w-full h-screen flex;
  }
  .userFormContainer {
    @apply w-1/2 h-full flex justify-center items-center bg-white;
  }
  .userFormContainer h1 {
    @apply text-4xl font-bold;
  }
  .userFormContainer p:not(.error) {
    @apply text-gray-1 mb-8;
  }
  .userForm {
    @apply w-1/2 flex flex-col justify-center items-start;
  }
  .userForm input {
    @apply w-full bg-transparent border border-snow-1 p-2 mb-4 rounded-md;
  }
  .userForm input[type="submit"] {
    @apply bg-frost text-white;
  }
  .userFeature {
    @apply w-1/2 h-screen bg-[url("../assets/images/userFormsBg.jpg")] bg-cover bg-center;
  }

  /* Modal Form */
  .modalForm {
    @apply w-full h-full flex flex-col justify-center items-start;
  }

  /* Error Container */
  .errorContainer {
    @apply space-y-2;
  }

  /* Panel */
  .panel {
    @apply rounded-std h-full w-fit p-8 flex flex-col overflow-y-auto;
  }
  .panel h2 {
    @apply font-bold;
  }
  .panel::-webkit-scrollbar {
    @apply w-2;
  }
  .panel::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  .panel::-webkit-scrollbar-thumb {
    @apply bg-gray-2 rounded-std;
  }
}

/* 
  Custom Colors: please use syntax var(--colorName) when using colors in a css file
*/
:root {
  --snow-1: #d8dee9;
  --snow-2: #e5e9f0;
  --snow-3: #eceff4;
  --white: #ffffff;
  --frost: #5e81ac;
  --polar: #81a1c1;
  --gray-1: #4c566a;
  --gray-2: #2e3440;
}

body {
  background-color: var(--snow-3);
  color: var(--gray-2);
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-size: 20pt;
}

h2 {
  font-size: 16pt;
}

a {
  color: var(--frost);
}
a:hover {
  color: var(--polar);
}

.invalidInput {
  border: 1px solid red !important;
}

.error {
  color: red !important;
}

/* .left-panel{
  background-color: var(--polar);
  border: 0;
  border-radius: 20px;
  color: white;
  padding: 10px;
  width: 35%;
  margin-top: 7px;
}

.right-panel{
  background-color: white;
  border: 0;
  border-radius: 20px;
  padding: 10px;
  width: 25%;
  margin-top: 7px;
}

.timer-select-button{
  background-color: var(--frost);
  border: 0;
  border-radius: 10px;
  display: block;
  width: 90%;
  height: 20%;
  margin-bottom: 5px;
  margin-left: 15px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: left;
}

.cardio-select-button{
  background-color: var(--frost);
  border: 0;
  border-radius: 10px;
  display: block;
  width: 90%;
  height: 20%;
  margin-bottom: 5px;
  margin-left: 15px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: left;
}

.timer-duration{
  text-align: right;
  display: inline;
}

.timer-title{
  text-align: left;
  display: inline;
}

.modules{
  margin-top: 5px;
}

#countdown{
  font-size: xx-large;
  text-align: center;
}

#countdown-progress{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;

  color: var(--frost);
  background: var(--snow-3);
}

#play-pause-p{
  font-size: small;
} */